// mixins
@mixin my-width {
  @include outer-container;
}

@mixin half-width {
  @include outer-container;
  max-width: 28em;
}

@mixin gloriola {
  font-family: "Gloriola";
}

@mixin kakao {
  font-family: Kakao;
  font-weight: bold;
}

@mixin subtle-shadow {
  box-shadow: 0 0 5px 3px $transparent-black;
}

@mixin pink-to-orange($range) {
  @include linear-gradient(252deg, $orange 0%, $pink $range);
}

