$ipad-portrait: new-breakpoint(max-width 769px);
$iphone-landscape: new-breakpoint(max-width 480px 4);
$iphone-portrait: new-breakpoint(max-width 320px 4);

@include media($ipad-portrait) {

  body {
    font-size: 0.75em;
  }

}

@include media($iphone-landscape) {
  body {
    font-size: 0.5em;
  }
}

@include media($iphone-portrait) {
  body {
    font-size: 0.33em;
  }

}

